
<div class="log-in centered">
<p>log in</p>
<hr/>
<form class="pure-form pure-form-stacked" method="post" action="/login">
    <fieldset>
        

        <!-- <label for="email">e-mail address</label> -->
        <input name="user[email]" type="email" class="square form-control" id="email" placeholder="e-mail">

        <!-- <label for="password">password</label> -->
        <input name="user[password]" type="password" class="square form-control" id="password" placeholder="password">


        <label for="remember" class="pure-checkbox">
            <input class="square" id="remember" type="checkbox"> remember me
        </label>

        <button type="submit" class="pure-button ">log in</button>
    </fieldset>
</form>
</div>