// .play-bt-track, .pause-bt-track  {
//   height: 20px;
//   width: 20px;
//   font-size: 45px;
//   background-position: center;
// }

.play-bt-track, .pause-bt-track {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}


.options {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 30px;
}


select {
  background: grey;
  font-family: HelveticaNeue-Light;
  font-size: 8px;
  
}

