.play-bt-track {
  height: 20px;
  width: 20px;
  background-image: url("http://cdn.spotcointeractive.com/websites/hamilton/_img/play.png");
  background-position: center;

}

.pause-bt-track {
  height: 20px;
  width: 20px;
  background-image: url("../images/pause.png");
  background-position: center;
  margin: 5px;


}


