.users {
  width: 30%;
  height: 70px;
  background-color: grey;
  margin: 10px 80px 10px 80px;
  font-family: "HelveticaNeue-Light";
  position: relative;
}


.button-small {
  font-size: 60%;
}

.button-xsmall {
  font-size: 40%;
}

.log-in, .register {
  background-color: #7E7D7B;
  padding: 20px;
  color: #E6EAEE;
  font-weight: 20;
}

input.square.form-control {
  border-radius: 0px;
  margin-bottom: 10px;
}

