.users {
  width: 30%;
  height: 70px;
  background-color: grey;
  margin: 10px 80px 10px 80px;
  font-family: "HelveticaNeue-Light";
  position: relative;
}


.button-small {
  font-size: 60%;
}

.button-xsmall {
  font-size: 40%;
}