a {
  text-decoration: none;
  font-family: "HelveticaNeue-Light";
  color: #E6EAEE; 
  &:hover {text-decoration: underline;}
}

a.inline {
  font-size: 12px;
  display: block;
  text-align: center;
}

a.link {
  text-decoration: underline;
  pointer: cursor;
}

.pages {
  float: right;
  text-align: right;
  margin-right: 10px;
}

.search {
  font-size: 14px;
}