// .track-margin {
//   margin-top: -20px;
// }
.track-page {
  margin-left: 86px;
}

div.track-pic {
  background: black;
  border: 2px solid #E6EAEE;
  line-height: 0;
}
img.track-pic {  
  height: 90px;
  width: 100%;
  opacity: 0.5;

  
}

form.inline {
  position: absolute;
      bottom: 0;
  padding: 5px;
  margin-left: 60px;

}

.message-track {
  color: black;
  font-family: HelveticaNeue-Light;
  font-size: 12px;
  margin: 0px 30px;
  margin-top: -10px;
}

.tracks {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 250px;
  background-color: #D1CCD3;  
  
}

.control {
  float: right;
}