
.profile {
  text-align: right;
  font-size: 14px;
  background: #7E7D7B;

  p{
    margin-top: 20px;
    line-height: 15px;
  }
}

.profile-pic {
  margin: 20px;
  float: right;
  border: 1px solid grey;

}

a.username {
  position: absolute;
  top: 20px;
}


.user-own-page {
  text-align: right;
  font-size: 14px;
  background: #7E7D7B;
  margin-top: 300px;

  p{
    margin-top: 20px;
    line-height: 15px;
  }
}

