@import 'nav';
@import 'index';
@import 'canvas';
@import 'controller';
@import 'tracks';
@import 'links';

body {
  
  font-family: "HelveticaNeue-Light";
  background: #383739;
  color: #E6EAEE; 
  
}

.centered {
  position: absolute;     left: 50%;     top: 50%;     transform: translate(-50%,-50%); 
}


input {
  color: #333;
}




img {
  margin-right: 20px;
}
