.pure-menu-heading { color: #E6EAEE; }

.pure-menu-link { color: #E6EAEE; background-color: #7E7D7B; padding: 0.4em 1em; }

#menuLink1.pure-menu-link { opacity: 0.5; }

.custom-wrapper { background-color: #7E7D7B; -webkit-font-smoothing: antialiased; height: 2.1em; -webkit-transition: height 0.5s; -moz-transition: height 0.5s; -ms-transition: height 0.5s; transition: height 0.5s; }

.custom-wrapper.open { height: 14em; }

.custom-menu-3 { text-align: right; }

.custom-toggle { width: 34px; height: 34px; display: block; position: absolute; top: 0; right: 0; display: none; }

.custom-toggle .bar { background-color: #E6EAEE; color: #E6EAEE; display: block; width: 20px; height: 2px; border-radius: 100px; position: absolute; top: 18px; right: 7px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }

.custom-toggle .bar:first-child { -webkit-transform: translateY(-6px); -moz-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); }

.custom-toggle.x .bar { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.custom-toggle.x .bar:first-child { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.pure-menu-active { background-color: #7E7D7B; }

@media (max-width: 47.999em) { .custom-menu-3 { text-align: left; }
  .custom-toggle { display: block; }
  nav { overflow: hidden; } }
.users { width: 30%; height: 70px; background-color: grey; margin: 10px 80px 10px 80px; font-family: "HelveticaNeue-Light"; position: relative; }

.button-small { font-size: 60%; }

.button-xsmall { font-size: 40%; }

.log-in, .register { background-color: #7E7D7B; padding: 20px; color: #E6EAEE; font-weight: 20; }

input.square.form-control { border-radius: 0px; margin-bottom: 10px; }

.track-canvas { padding: 0; margin-top: -27px; position: relative; width: 100%; height: 55px; }

.play-bt-track, .pause-bt-track, .download-bt-track { font-size: 30px; display: inline-block; cursor: pointer; }

.options { margin: 0 auto; text-align: center; width: 100%; height: 30px; }

select { background: grey; font-family: HelveticaNeue-Light; font-size: 8px; }

.track-page { margin-left: 20px; margin-top: 20px; }

div.track-pic { background: black; border: 2px solid #E6EAEE; line-height: 0; }

img.track-pic { height: 90px; width: 100%; opacity: 0.5; }

form.inline { position: absolute; bottom: 0; padding: 5px; margin-left: 60px; }

.message-track { color: black; font-family: HelveticaNeue-Light; font-size: 12px; margin: 0px 30px; margin-top: -10px; }

.tracks { position: relative; margin: auto; margin: 20px; width: 200px; height: 250px; background-color: #D1CCD3; }

.zoom { zoom: 150%; }

.control { float: right; }

a { text-decoration: none; font-family: "HelveticaNeue-Light"; color: #E6EAEE; }
a:hover { text-decoration: underline; }

a.inline { font-size: 12px; display: block; text-align: center; }

a.link { text-decoration: underline; pointer: cursor; }

.pages { float: right; text-align: right; margin-right: 10px; }

.search { font-size: 14px; }

.profile { text-align: right; font-size: 14px; background: #7E7D7B; }
.profile p { margin-top: 20px; line-height: 15px; }

.profile-pic { margin: 20px; float: right; border: 1px solid grey; }

a.username { position: absolute; top: 20px; }

.user-own-page { text-align: right; font-size: 14px; background: #7E7D7B; margin-top: 300px; }
.user-own-page p { margin-top: 20px; line-height: 15px; }

.user-index { margin-top: 40px; }

.user-page { margin-top: 0px; }

.playlist-canvas { position: relative; width: 100%; height: 90px; margin-top: -47px; }

.message { font-size: 12px; font-family: "HelveticaNeue-Light"; letter-spacing: 2px; }

.playlist_tracks { width: 100%; height: 40px; background: #D1CCD3; font-family: "HelveticaNeue-Light"; border-bottom: 1px solid white; border-top: 1px solid white; position: relative; }
.playlist_tracks p { width: 100%; }

.playlist { margin: 0 auto; margin-top: 40px; width: 500px; background-color: #D1CCD3; border: 3px solid white; }
.playlist img { width: 500px; height: 120px; opacity: 0.5; }
.playlist img.play-track-pic { width: 40px; height: 40px; position: absolute; top: 0; left: 0; }
.playlist .controller { background-color: #D1CCD3; color: #fff; width: 100%; height: 60px; text-align: center; font-size: 40px; cursor: pointer; }
.playlist .controller a#play-all { font-size: 30px; }
.playlist .playlist_tracks { margin: 0px 0px; }
.playlist .playlist_tracks ul.track_info { margin: 0; padding: 0; list-style-type: none; }
.playlist .playlist_tracks ul.track_info li { line-height: 20px; margin: 10px 20px; display: inline-block; font-family: "HelveticaNeue-Light"; }

.title { font-family: "HelveticaNeue-Light"; font-size: 30px; font-weight: 100; }

.delete { margin-top: 43px; }

.message-empty { margin-left: 20px; margin-top: 20px; background-color: #D1CCD3; }

.playlist-delete { position: absolute; top: 13px; right: 0; }

body { font-family: "HelveticaNeue-Light"; background: #383739; color: #E6EAEE; }

.centered { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

input { color: #333; }

img { margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
