
<% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= error %>
  </div>
<% end %>
<form id="register" class="pure-form pure-form-stacked" method="post" action="/register">
  
    <fieldset>
        <legend>sign up</legend>

        <label for="name">name</label>
        <input name="user[name]" type="text" class="form-control" id="username" placeholder="name">

        <label for="username">username</label>
        <input name="user[username]" type="text" class="form-control" id="username" placeholder="Username">

        <label for="image">image</label>
        <input name="user[image]" type="file" class="form-control" id="image" >

        <label for="email">e-mail address</label>
        <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email">

        <label for="city">city</label>
        <input name="user[city]" type="text" class="form-control" id="city" placeholder="city">

        <label for="password">password</label>
        <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">


        <button type="submit" class="pure-button pure-button-primary">sign up</button>
    </fieldset>
</form>
