
<div class="pure-g user-index">
    
  <% @users.each do |user| %>
    <div class="pure-u-1 pure-u-md-1-3 users">
        <% if user.image_identifier %>
            <img class="media-object" src="<%= user.image.url %>" width=70 height=70 >
          <% else %>
            <img class="media-object" src="/uploads/images/colorful-triangles-background_yB0qTG6.jpg" width=70 height=70>
        <% end %>
        <a class="username" href="/users/<%= user.id %>"><%= user.username %></a>  
        
    </div>
    
  <% end %>
</div>  

