
<form class="pure-form pure-form-stacked" method="post" action="/login">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="email">Email address</label>
        <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email">

        <label for="password">Password</label>
        <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">


        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>