<h2>my playlists</h2>
<a href="/playlists/new">create new</a>
<ul >
  <% @playlists.each do |playlist| %>
    <li>
      
      <a href="/playlists/<%= playlist.id %>"><%= playlist.title %></a>
      <% if playlist.image_identifier %>
        <img class="media-object" src="/uploads/images/<%= playlist.image_identifier %>" width=50 height=50>
      <% else %>
        <img class="media-object" src="/uploads/H06-anika.jpg" width=50 height=50>
      <% end %>  
    </li>  
        
  <% end %>
</ul>