<form id="add_playlist" class="pure-form pure-form-stacked" method="post" action="/playlists" enctype="multipart/form-data">
  
    <fieldset>
        <legend>add track</legend>

        <label for="title">title</label>
        <input name="playlist[title]" type="text" class="form-control" id="playlisttitle" placeholder="title">

        <label for="genre">genre</label>
        <input name="playlist[genre]" type="text" class="form-control" id="genre" placeholder="artst">

        <label for="image">image</label>
        <input name="playlist[image]" type="file" class="form-control" id="image" >



        <button type="submit" class="pure-button pure-button-primary">add playlist</button>
    </fieldset>
</form>